<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE packages [
	<!ELEMENT packages (package*)>
	<!ELEMENT package EMPTY>
	<!ATTLIST package
	id CDATA #REQUIRED
	version CDATA #REQUIRED
	targetFramework CDATA #REQUIRED
	developmentDependency CDATA #IMPLIED
	allowedVersions CDATA #IMPLIED>
]>
<packages>
  <package id="BepInEx.BaseLib" version="5.4.16" targetFramework="net462" />
  <package id="BepInEx.Core" version="5.4.16" targetFramework="net462" />
  <package id="Digitalroot.Valheim.Common.AssemblyInfo" version="1.0.6" targetFramework="net462" />
  <package id="Digitalroot.Valheim.Common.Json" version="1.0.13" targetFramework="net462" />
  <package id="Digitalroot.Valheim.Common.Log" version="1.1.12" targetFramework="net462" />
  <package id="Digitalroot.Valheim.Common.Names" version="1.4.4" targetFramework="net462" />
  <package id="Digitalroot.Valheim.Common.References" version="0.204.5" targetFramework="net462" />
  <package id="Digitalroot.Valheim.Common.Utils" version="1.0.15" targetFramework="net462" />
  <package id="ErrorProne.NET.CoreAnalyzers" version="0.1.2" targetFramework="net462" developmentDependency="true" />
  <package id="fastJSON" version="2.4.0.4" targetFramework="net462" />
  <package id="Fody" version="6.6.0" targetFramework="net462" developmentDependency="true" />
  <package id="HarmonyX" version="2.6.0" targetFramework="net462" />
  <package id="ILMerge.Fody" version="1.22.0" targetFramework="net462" />
  <package id="JotunnLib" version="2.4.1" targetFramework="net462" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net462" />
  <package id="MonoMod" version="21.11.1.1" targetFramework="net462" />
  <package id="MonoMod.RuntimeDetour" version="21.11.1.1" targetFramework="net462" />
  <package id="MonoMod.Utils" version="21.11.1.1" targetFramework="net462" />
  <package id="Pfhoenix.Valheim.ModProjectReferences" version="1.0.11" targetFramework="net462" />
  <package id="UnityEngine.Modules" version="2019.4.32" allowedVersions="[2019.4.32]" targetFramework="net462" developmentDependency="true" />
</packages>